@charset "utf-8";

/* --------------------------------------------------------------- */
/* --------------CSS apenas para a versão Desktop----------------- */
/* --------------------------------------------------------------- */
@media screen and (min-width: 1014px){

h1, h2, h3, h4, h5, h6, strong, .icone-whats-delivery{
  font-size: 24px;
}  

p, figcaption, a{
  font-size: 23px;
}
  
#logo-principal img{
width: 300px;
height: auto;
}

.menu{
  text-align: center;
}

.menu ul li{
  list-style: none;
  display: inline-block;
}

.menu strong{
  padding: 10px 20px;
}

.menu > ul > li > a > strong:hover{
  background-color: #415538;
  color: white;
}
/* tirar margem geral */
.margem-geral{
  padding: 2% 0;
}

/* alinhamento do texto */

.texto-margem{
  padding: 0 10%;
}

.footer-item{
  width: 25%;
  float: left;
  text-align: center;
}

/* ----------------CSS para páginas específicas------------------- */

/* Home */

/* imgs destaques */

.flex-container-home{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#qualidades-destaque {
  display: inline-block;
  position: relative;
  text-align: center;
  margin-inline-start: 1em;
  margin-inline-end: 1em;
}

#qualidades-destaque img{
  width: 200px;
}

#qualidades-destaque figcaption{
  position: absolute;
  top: 48%;
  width: 65%;
  left: 18%;
}

/* Delivery */

.icone-whats-delivery-text, .icone-whats-delivery{
  fill: #2D9139;
  display: block;
  margin: auto;
  text-align: center;
  color: #2D9139;
}

.icone-whats-delivery{
  height: 8em;
  width: 8em;
}


/* Eventos */
.flex-eventos{
  display: flex;
}
.flex-eventos-filho{
  width: calc(100%/3);
  padding: 1% 4% 0%;
}

/* Contato */

.logo-contato{
  width: 2em;
  height: 2em;
  fill: black;
}
.contato-infos-flex-left{
  margin-left: auto;
  margin-right: auto;
  width: 290px;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.contato-section-flex{
  display: flex;
}

.contato-section-flex-filho{
  width: calc(100%/2);
  padding: 0 3%;
}

.hora-funcionamento{
  margin-top: 10%;
}

.maps{
  width: 90%;
  height: 200px;
  margin: 0 5% 2%;
}

.contato-infos-flex-right{
  margin-left: 8%;
  margin-right: 5%;
}

fieldset{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  color: black;
}

fieldset > p > label > strong, fieldset > p > input{
  font-size: 16px;
  width: 100%;
}

fieldset > p{
  margin: 0.5em;
}
/* 
.align-start{
  text-align: start;
} */

}

}