@charset "utf-8";



/* --------------------------------------------------------------- */
/* --------------CSS apenas para a versão tablet------------------ */
/* --------------------------------------------------------------- */
@media screen and (min-width: 0px) and (max-width: 1136px){


    /* estilizando texto geral */
    h1, h2, h3, h4, h5, h6, strong, .icone-whats-delivery{
    font-size: 24px;
    }
    p, figcaption, a{
      font-size: 22px;
    }
    h1, h2, h3, h4, h5, h6, p{
      text-align: center;
    }    
    h1, h2, h3, h4, h5, h6, strong{
      font-size: larger;
    }
    .texto-margem{
      padding: 0 8%;
    }
    #logo-principal img{
      width: 250px;
      height: auto;
    }

    .footer-item{
        width: 50%;
        float: left;
        text-align: center;
    }

/* ----------------CSS para páginas específicas------------------- */

/* Home */

/* 4 imgs com diferenciais da padaria  */
  .flex-container-home{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  #qualidades-destaque {
    display: inline-block;
    position: relative;
    text-align: center;
    margin-inline-start: 1em;
    margin-inline-end: 1em;
  }
  #qualidades-destaque img{
    width: 200px;
  }
  #qualidades-destaque figcaption{
    position: absolute;
    top: 48%;
    width: 65%;
    left: 18%;
  }

/* Delivery */

/* icone do whatsapp */
  .icone-whats-delivery-text, .icone-whats-delivery{
    fill: #2D9139;
    display: block;
    margin: auto;
    text-align: center;
    color: #2D9139;
  }
  .icone-whats-delivery{
    height: 6em;
    width: 6em;
  }
  
/* Contato */

.logo-contato{
  width: 2em;
  height: 2em;
  fill: black;
}
.contato-infos-flex-left{
  margin-left: auto;
  margin-right: auto;
  width: 290px;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.hora-funcionamento{
  margin-top: 10%;
}

.maps{
  width: 90%;
  height: 200px;
  margin: 0 5% 2%;
}

.contato-infos-flex-right{
  margin-left: 8%;
  margin-right: 5%;
}

fieldset{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  color: black;
}

fieldset > p > label > strong, fieldset > p > input{
  font-size: 16px;
  width: 100%;
}

fieldset > p{
  margin: 0.5em;
}

  }